<nav>
    {{#unless isLoggedIn}}
       <a href="/signin">LOGIN</a>
    {{/unless}}
    {{#if isLoggedIn}}
    <a href="">Form Add Conso User</a>
    <a href="">Recap conso</a>
    <a href="">Profil</a>
    <a href="/logout">LOGOUT</a>

    {{#if isAdmin}}
           <div class="adminNav">
        <a href="/drink-add">Add Drink</a>
        <a href="/drink-manage">Manage Drink</a>
        <a href="/user-manage">Manage User</a>
    </div>
    {{/if}}

    {{/if}}

    

    
</nav>