<nav>
    {{#unless isLoggedIn}}
       <a href="/signin">LOGIN</a>
    {{/unless}}
    {{#if isLoggedIn}}
    <a href="">Form Add Conso User</a>
    <a href="">Recap</a>
    <a href="/logout"><img class="banniere" src="./../images/logout.png" alt=""></a>
    {{/if}}


    
</nav>