<nav class="nav">
    {{#unless isLoggedIn}}
       <a class="navbtn" href="/signin">LOGIN</a>
    {{/unless}}
    {{#if isLoggedIn}}
    <a class="navbtn" href="/drink-add">Add Drink</a>
    <a class="navbtn" href="/cons-add">Add Conso</a>
    <a class="navbtn" href="/profil">Profil</a>
    <a class="navbtn" href="/logout">LOGOUT</a>

    {{#if isAdmin}}
           <div class="adminNav">
        <a class="navbtn" href="/drink-manage">Manage Drink</a>
        <a class="navbtn" href="/user-manage">Manage User</a>
    </div>
    {{/if}}

    {{/if}}

    

    
</nav>