<td id="date">
    {{date}}
</td>
<td id="name">
    {{drink.drinkName}}
</td>
<td id="quantity">
    {{quantity}}
</td>
<td id="ABV">
    {{drink.ABV}}
</td>
<td id="weeklyprc">
   
</td>
<td id="price">

</td>