<form action="" method="post" enctype="multipart/form-data">

    <label for="drink-name">Name</label>
    <select name="name" id="name">
        <option value="-1" disabled selected>Choose a name</option>
        <option value="largeBeer">Large Beer</option>
        <option value="smallBeer">Small Beer</option>
        <option value="largeShooter">Large Shooter</option>
        <option value="smallShooter">Small Shooter</option>
        <option value="bottleBeer">Bottle Beer</option>
        <option value="longDrink">Long Drink</option>
        <option value="shortDrink">Short Drink</option>
        <option value="wine">Glass of Wine</option>
        <option value="champagne">Glass of Champagne</option>
        <option value="strongAlcohol">Strong Alcohol</option>
    </select>

    <label for="size">Size</label>
    <select name="size" id="size">
        <option value="-1" disabled selected>Choose a size </option>
        <option value="50">50 cl</option>
        <option value="33">33 cl</option>
        <option value="25">25 cl</option>
        <option value="17">17 cl</option>
        <option value="14">14 cl</option>
        <option value="12">12 cl</option>
        <option value="7">7 cl</option>
        <option value="4">4 cl</option>
        <option value="2">2 cl</option>
    </select>
    
    <label for="drink-image">Image</label>
    <input type="file" name="image" id="">
</form>