{{> nav_dashboard}}

<form action="/drink-add" method="post" enctype="multipart/form-data">

    <label for="drink-name">Name</label>
    <input type="text" name="name" id="name">

    <label for="drink-image">Image</label>
    <input type="file" name="image" id="image">

<label for="ABV"> ABV (Alcohol by Volume)</label>
    <input type="number" name="ABV" min="1" max="100">

    <label for="size">Size</label>
    <select name="size" id="size">
        <option value="-1" disabled selected>Choose a size </option>
        <option value="50">50 cl</option>
        <option value="33">33 cl</option>
        <option value="25">25 cl</option>
        <option value="17">17 cl</option>
        <option value="14">14 cl</option>
        <option value="12">12 cl</option>
        <option value="7">7 cl</option>
        <option value="4">4 cl</option>
        <option value="2">2 cl</option>
    </select>
    


    <button>Add Drink</button>
</form>