<form action="post">
    <label for="email">Email</label>
    <input type="email" id="email" placeholder="Enter your email" required>
    <label for="password" class="label-ref label">Password</label>
    <input id="password" type="password" class="input-text input" placeholder="Enter your password" required name="password">
    <button>Log in</button>
</form>
<p>Already have an account ? <a href="">Sing in</a></p>