
<form action="" method="post">
    <label for="username">Name</label>
        <input type="text" name="username" id="username">
    <label for="email">Email</label>
        <input type="email" name="email" required id="email">
    <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    <button>Create a account</button>
</form>
<p>Don't have an account yet ? <a href="">Sign up</a></p>